<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>

 <form method="POST" action="/user/add">
 
    <input name="name" value =""  placeholder="name"/>
    <input name="email" value =""  placeholder="email"/>
    <!-- heare email="email" not working  name="email" -->
    <button type="submit">Submit</button>
  </form>
        
    
    
</body>
</html>

